*{
	box-sizing: border-box;
}
input {
	padding: 10px;
	font-size: 20px;
}
span{
	color: black;
}
button{
	background: blue;
	color: white;
	font-size: 20px;
}
button:hover{
	background: skyblue;
	color: black;
	font-size: 20px;
}